# Entorno virtual
venv/

# Archivos de compilación y distribución
*.pyc
__pycache__/

# Archivos de configuración de IDEs
.vscode/
.idea/

# Archivos de base de datos
*.sqlite3

# Archivos de configuración de pycharm
*.iml
